<nav class="navbar navbar-expand-sm navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">Teste Angular 8</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId" *ngIf="isLogged">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">        </ul>
        <button class="btn btn-danger" [routerLink]="['modals']" >Modais</button>
        <button class="btn btn-danger" [routerLink]="['dashboard']" >Dashboard</button>
        <button class="btn btn-danger" [routerLink]="['users']" >Usuários</button>
        <button class="btn btn-danger" (click)="logout()"  >Sair</button>
    </div>
</nav>