@import './../variables';

.ui {
  display: grid;
  grid-template-rows: $appbar-height $navbar-height 1fr;
  //grid-template-columns: 100%;
  background-color: $board-bg-color;
  color: #eee;
}

.lists {
  display: flex;
  overflow-x: auto;
  height: $content-height;
  > * {
    flex: 0 0 auto; // 'rigid' lists
    margin-left: $gap;
  }
  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}
