/* Some Sass variables */
// Layout
$appbar-height: 40px;
$navbar-height: 50px;
$list-width: 300px;
$gap: 20px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Misc
$list-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #fff;
$appbar-bg-color: #fff;
$list-bg-color: #e2e4e6;

$content-height: calc(100vh - 82px);
